/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --accent-color: #ff0070;
  --border-color: #ff0070;
  --border-hover-color: rgba(255, 0, 112, 0.40);
  --theme-menu-color: #ff0070;
  --header__title-color: #DB00FF;
  --section__title-color: #ff0070;
  --title-decor-color: #000028;
  --main-text-color: #f1b2ce;
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --rec-decor-el-visibility: visible;
}
