/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --accent-color: #ff8dcb;
  --border-color: #353430;
  --border-hover-color: rgba(50, 49, 45, 0.40);
  --theme-menu-color: #353430;
  --header__title-color: #ffc2e6;
  --section__title-color: #353430;
  --title-decor-color: #353430;
  --header__title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --accent-font-family: IBM Plex Mono, monoscape;
  --main-text-color: #353430;
  --background-color: #fff1f7;
  --background-image: url(../images/cover-image-light.png);
  --rec-decor-el-visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --border-color: #353430;
    --border-hover-color: rgba(50, 49, 45, 0.40);
    --theme-menu-color: #353430;
    --header__title-color: #ffc2e6;
    --section__title-color: #353430;
    --title-decor-color: #353430;
    --header__title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --accent-font-family: IBM Plex Mono, monoscape;
    --main-text-color: #353430;
    --background-color: #fff1f7;
    --background-image: url(../images/cover-image-light.png);
    --rec-decor-el-visibility: hidden;
  }
}