/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  color: var(--main-text-color);
  font-family: var(--accent-font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  background-color: #000028;
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  align-items: start;
  padding: 10px;
  min-block-size: 100vh;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-right: 1px solid var(--accent-color);
  border-top: 1px solid var(--accent-color);
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.decorated-zone::after {
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  inset-inline-start: 10px;
  inset-block-end: 10px;
}

.rec-decor-el {
  position: absolute;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  inset-inline-end: 20px;
  inset-block-start: 10px;
}

.rec-decor-el::before {
  content: "REC";
  color: var(--accent-color);
  line-height: 25px;
}

.rec-decor-el::after {
  content: "";
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  justify-self: end;
  color: var(--accent-color);
  margin-block: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.header__theme-menu-button {
  padding: 0 12px;
  text-transform: lowercase;
  border: transparent;
  cursor: pointer;
  background-color: transparent;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.40);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.header__title {
  color: var(--header__title-color);
  font-size: var(--header__title-font-size);
  font-weight: 700;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__description {
  margin-block: 55px;
}

.title-decor {
  color: var(--title-decor-color);
  font-size: inherit;
  font-weight: 700;
  line-height: 23.4px;
  background-color: var(--accent-color);
}

.content__title-sovet {
  font-weight: 400;
}

.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}

.content {
  display: grid;
  gap: 20px;
  align-items: start;
}

.section__title {
  color: var(--accent-color);
  font-size: inherit;
}

.content__container-list {
  display: grid;
  gap: 20px;
}

.content__container-list-article {
  display: grid;
  gap: 10px;
}

.content__title-sovet {
  margin-block-end: 10px;
}

.content__text:not(:last-child) {
  margin-block-end: 10px;
}

.link {
  /*Реализовать для ховера и фокуса стили ссылки*/
}

.content__image {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.footer {
  display: grid;
  min-block-size: 100vh;
  place-items: center;
}

.footer .header__title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header {
    padding-inline-start: 0;
  }

  .header__theme-menu {
    margin-block-start: 170px;
    margin-block-end: 70px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    justify-self: end;
    inline-size: clamp(364px, calc(100% / 2 - 10px), 491px);
  }

  .main {
    gap: 80px;
    padding: 60px 20px;
  }

  .content {
    grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr; /*3.25 - это 768/236*/
  }

  .content__container-concentration-list {
    grid-column-start: span 2;
  }

  .content__container-sovet-list {
    grid-column-start: 2;
  }
}