/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  color: var(--main-text-color);
  font-family: var(--accent-font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding: var(--field-size);
  min-block-size: 100vh;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-right: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  inset-inline-end: var(--field-size);
  inset-block-start: var(--field-size);
}

.decorated-zone::after {
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  inset-inline-start: var(--field-size);
  inset-block-end: var(--field-size);
}

.rec-decor-el {
  position: absolute;
  display: inline-flex;
  visibility: var(--rec-decor-el-visibility);
  align-items: center;
  gap: 10px;
  inset-inline-end: 20px;
  inset-block-start: 10px;
}

.rec-decor-el::before {
  content: "REC";
  color: var(--accent-color);
  line-height: 25px;
}

.rec-decor-el::after {
  content: "";
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  justify-self: end;
  color: var(--theme-menu-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__theme-menu-button {
  padding: 0 12px;
  color: var(--theme-menu-color);
  text-transform: lowercase;
  border: 1px solid transparent;
  cursor: pointer;
  background-color: transparent;
}

.header__theme-menu-button_active {
  border: 1px solid var(--theme-menu-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--theme-menu-color);
}

.header__title {
  color: var(--header__title-color);
  font-size: var(--header__title-font-size);
  font-weight: 700;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  color: var(--title-decor-color);
  background-color: var(--accent-color);
}

.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}

.content {
  display: grid;
  gap: 20px;
  align-items: start;
}

.section__title {
  color: var(--section__title-color);
  font-size: inherit;
}

.content__title {
  font-size: inherit;
  font-weight: 700;
  line-height: 23.4px;
}

.content__container-list {
  display: grid;
  gap: 20px;
}

.content__container-list-article {
  display: grid;
  gap: 10px;
}

.content__title-light {
  font-weight: 400;
}

.content__text:not(:last-child) {
  margin-block-end: 10px;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  border-bottom: solid 1px var(--main-text-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  border: 1px solid currentColor;
}

.content__gallery {
  gap: 10px;
}

.content__gallery-list {
  display: grid;
  gap: 10px;
}

.content__image {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.footer {
  display: grid;
  min-block-size: 100vh;
  place-items: center;
}

.footer .header__title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .rec-decor-el {
    inset-inline-end: 28px;
    inset-block-start: 20px;
  }

  .header {
    padding-inline-start: 0;
  }

  .header__title {
    font-size: var(--header__title-font-size);
  }

  .header__description {
    justify-self: end;
    inline-size: clamp(364px, calc(50% - 10px), 491px);
  }

  .main {
    gap: 80px;
    padding: 60px 20px;
  }

  .content {
    grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr; /*3.25 - это 768/236*/
  }

  .content__container-concentration-list {
    grid-column-start: span 2;
  }

  .content__container-sovet-list {
    grid-column-start: 2;
    gap: 10px;
  }

  .content__title-light {
    margin-block-start: 10px;
  }


  .content__gallery {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .content__gallery-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .content__gallery-list__item:first-child,
  .content__gallery-list__item:last-child {
    grid-column-start: span 2;
  }

  .content__gallery-list__item:nth-child(2),
  .content__gallery-list__item:nth-child(3) {
    grid-row-start: span 2;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    padding-inline-start: 20px;
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .content {
    column-gap: 30px;
  }

  .content__container-concentration-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .content__container-concentration-list .content__container-list-article {
    grid-template-rows: repeat(1, min-content);
  }
}